.container{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 50%;
    background-color: white; 
}

.container>div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.score{
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}
.unit{
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}
.button{
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;

}
