
.container{
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 120px;
    justify-content: space-between;
    /* z-index: 1; */
    background-color: white;
}
.logo{
    font-size: 28px;
    font-weight: 800;
    color: #000000;
}

.menu{
    display: flex;
    gap: 30px;
}
.settings{
    display: flex;
    align-items: center;
    
    width: 128px;
    height: 38px;
    background-color: #ee0007;
}
.settings>p{
    margin: auto;
    color: white;
}