.true{background-color: red;}

.container{
    display: flex;
    margin: 0 20px;

}

span{
    font-size: 2rem;
}
.done,.comming{
    width: 50%;
    display: flex;
    gap: 1rem;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.done{
    justify-content: right;
    text-align: right;
}
.comming{
    text-align: left;
}
.cursor{
    position: absolute;
    right: 0;
    font-size: 2rem;
    min-width: 2px;
    opacity: 0.5;
}
.done-curr{
    display: flex;
    position: relative;
}

.wrong{
    text-decoration: line-through;
}