:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: black; */
}
*{
  margin: 0;
  box-sizing: border-box;
}
.link {
  text-decoration: none; /* Remove underline */
  color: #333; /* Default color */
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

